<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Areas/FirmaPanel/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Areas/FirmaPanel/assets/css/bootstrap-datetimepicker.css" rel="stylesheet" />    
    <link href="~/Areas/FirmaPanel/assets/css/demo.css" rel="stylesheet" />
    <link href="~/Areas/FirmaPanel/assets/css/turbo.css" rel="stylesheet" />
    <link href="~/Areas/FirmaPanel/assets/css/material-design-iconic-font.min.css" rel="stylesheet" />
    <link href="~/Areas/FirmaPanel/assets/vendors/dropzone/dropzone.min.css" rel="stylesheet" />
    <link href="~/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Areas/FirmaPanel/assets/css/fullcalendar.min.css" rel="stylesheet" />
    <link href="~/Areas/FirmaPanel/assets/css/fullcalendar.print.min.css" rel="stylesheet" />
    @RenderSection("head", required: false)
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons" />
</head>
<body>


    <div class="wrapper">
      @Html.Partial("~/Areas/FirmaPanel/Views/EkSayfalar/SideBar.cshtml")
        
        <div class="main-panel">
           @Html.Partial("~/Areas/FirmaPanel/Views/EkSayfalar/Header.cshtml")
            <div class="content">
                <div class="container-fluid">
                    @RenderBody()
            </div>
        </div>
    </div>
    @*<div class="fixed-plugin">
        <div class="dropdown show-dropdown">
            <a href="#" data-toggle="dropdown" aria-expanded="false">
                <i class="fa fa-cog fa-2x"> </i>
            </a>
            <ul class="dropdown-menu">
                <li class="header-title"> Topbar Filters</li>
                <li class="adjustments-line">
                    <a href="javascript:void(0)" class="switch-trigger active-color">
                        <div class="badge-colors text-center">
                            <span class="badge filter badge-default" data-color="default"></span>
                            <span class="badge filter badge-blue" data-color="blue"></span>
                            <span class="badge filter badge-green" data-color="green"></span>
                            <span class="badge filter badge-yellow" data-color="yellow"></span>
                            <span class="badge filter badge-red" data-color="red"></span>
                            <span class="badge filter badge-white" data-color="white"></span>
                        </div>
                        <div class="clearfix"></div>
                    </a>
                </li>
                <li class="header-title">Sidebar Background</li>
                <li class="adjustments-line">
                    <a href="javascript:void(0)" class="switch-trigger background-color">
                        <div class="text-center">
                            <span class="badge filter badge-gray" data-color="gray"></span>
                            <span class="badge filter badge-white" data-color="default"></span>
                        </div>
                        <div class="clearfix"></div>
                    </a>
                </li>
                <li class="adjustments-line">
                    <a href="javascript:void(0)" class="switch-trigger">
                        <p>Sidebar Mini</p>
                        <div class="togglebutton switch-sidebar-mini">
                            <label>
                                <input type="checkbox" unchecked>
                            </label>

                        </div>
                        <div class="clearfix"></div>
                    </a>
                </li>
            </ul>
        </div>
    </div>*@
  </div>






   




    <script src="~/Areas/FirmaPanel/assets/vendors/locale-all.js"></script>
    <script src="~/Areas/FirmaPanel/assets/vendors/fullcalendar.min.js"></script>
    <script src="~/Areas/FirmaPanel/assets/vendors/gcal.min.js"></script>
    <script src="~/Areas/FirmaPanel/assets/vendors/jquery-3.1.1.min.js"></script>
    <script src="~/Areas/FirmaPanel/assets/vendors/jquery-ui.min.js"></script>
    <script src="~/Areas/FirmaPanel/assets/vendors/bootstrap.min.js"></script>
    <script src="~/Areas/FirmaPanel/assets/vendors/material.min.js"></script>
    <script src="~/Areas/FirmaPanel/assets/vendors/perfect-scrollbar.jquery.min.js"></script>
    <script src="~/Areas/FirmaPanel/assets/vendors/sweetalert2.js"></script>
    <script src="~/Areas/FirmaPanel/assets/vendors/jquery.bootstrap-wizard.js"></script>
    <script src="~/Areas/FirmaPanel/assets/vendors/jquery.datatables.js"></script>
    <script src="~/Areas/FirmaPanel/assets/vendors/jquery.validate.min.js"></script>
    <script src="~/Areas/FirmaPanel/assets/vendors/moment.min.js"></script>
    <script src="~/Areas/FirmaPanel/assets/vendors/bootstrap-notify.js"></script>
    <script src="~/Areas/FirmaPanel/assets/vendors/bootstrap-datetimepicker.js"></script>
    <script src="~/Areas/FirmaPanel/assets/vendors/nouislider.min.js"></script>
    <script src="~/Areas/FirmaPanel/assets/vendors/jasny-bootstrap.min.js"></script>
    <script src="~/Areas/FirmaPanel/assets/vendors/jquery.select-bootstrap.js"></script>
    <script src="~/Areas/FirmaPanel/assets/vendors/jquery.tagsinput.js"></script>
    <script src="~/Areas/FirmaPanel/assets/js/turbo.js"></script>
    <script src="~/Areas/FirmaPanel/assets/js/demo.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
